.validationMessage {
    color: red;
}

table {
    /*border: red 1px solid;
    position: relative;
    left: 50%;
    transform: translateX(-50%);*/
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 8px;
    justify-content: left;
    text-align: left;
}

.asterisk {
    color: rgb(223, 70, 70);
}