@use 'sass:color';

body {
	margin: 0;
	background-image: url('Images\\papertexture2.jpg');
	max-width: 100vw;
}

html {
	max-width: 100vw;
}

h2 {
	color: rgb(50, 50, 50);
	font-family: Allura;
	font-size: 48px;
}

a {
	text-decoration: none;
}

th {
	font-size: 120%;
	text-shadow: 0 0 1px black;
}

td {
	transform-origin: 0 0;
	animation-name: rowFadeIn;
	animation-duration: 0.2s;
	animation-iteration-count: 1;
}


@keyframes rowFadeIn {
	from {
		transform: scaleY(0);
		opacity: 0;
	}
	to {
		transform: scaleY(1);
		opacity: 1;
	}
}

.page p {
	padding: 0 10%;
}

.header {
	width: 100%;
	display: flex;
	justify-content: center;
	z-index: 999;
	position: relative;
}

.title {
	font-family: Allura;
	color: rgb(255, 255, 255);/*#734d78;*/
	text-shadow: -2px -2px 2px rgb(0,0,0,0.2);
	position: absolute;
	top: 0%;
	font-size: min(8vw, 64px);
	font-weight: bold;
	transform: translate(0, -50%);
}

.date {
	text-align: center;
	margin: 0;
	color: white;
	font-family: Nixie One;
	font-weight: 600;
	padding-bottom: 2px;
}

.InviteImage {
	max-width: 450px;
	width: 80vw;
	box-shadow: 10px 10px 5px rgba(0,0,0,0.5), 0 0 1px rgba(0,0,0,0.5);
	display: inline-block;
	transform: rotate(-3deg);
	margin: 32px;
}

.HomePageText {
	display: inline-block;
	vertical-align: top;
	width: fit-content;
	margin: 32px;
}

$headerColour: rgb(139, 152, 185);

.header, .headerItems, .date, button, .break {
	background-color: $headerColour;
}

$breakPolyInset: 35%;

.break {
	background-color: $headerColour;
	height: 10px;
	width: 100%;
	clip-path: polygon(49% 0, 50% 40%, 51% 0, calc(100% - $breakPolyInset) 50%, 51% 100%, 50% 60%, 49% 100%, $breakPolyInset 50%);
	opacity: 0.7;
}

button:hover {
    cursor: pointer;
    background-color: color.scale($headerColour, $lightness: -20%);
}

button:active {
    cursor: pointer;
    background-color: color.scale($headerColour, $lightness: -40%);
}

button {
    transition: background-color 0.3s;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 18px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4);
	margin: 12px;
}

.headerImage {
	width: 100px;
	aspect-ratio: 1;
	border: solid white 3px;
	border-radius: 50%;
}

.stickyHeader {
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 999;
}

.tear {
	background-image: url('Images\\topTear.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
	width: 100%;
	aspect-ratio: 3000 / 169;
	z-index: 999;
	margin-top: -1px; /* make sure there isn't a gap between the tear and the header */
}

.pages {
	width: 100%;
	overflow: hidden;
}

.page {
	min-height: 100vh;
	/*display:none;*/
	font-family: Nixie One;
	font-weight: 600;
	text-align: center;
	
	
	animation-duration: 250ms;
	animation-iteration-count: 1;
	animation-fill-mode: both;
	animation-direction: forward;
	
}

.page[data-status="disappearingToRight"] {
	transform-origin: 90% 5%;
	animation-name: pageDisappearToRight;
}

.page[data-status="disappearingToLeft"] {
	transform-origin: 10% 5%;
	animation-name: pageDisappearToLeft;
}

.page[data-status="activeFromLeft"] {
	/*display: inherit;*/
	transform-origin: 50% 5%;
	animation-name: pageAppearFromLeft;
}

.page[data-status="activeFromRight"] {
	/*display: inherit;*/
	transform-origin: 50% 5%;
	animation-name: pageAppearFromRight;
}

.page[data-status="hidden"] {
	display: none;
}

.eucalyptusImageContainer {
	position: relative;
	margin-top: 50px;
	margin-bottom: 70px;
}

.eucalyptusImage {
	max-width: 600px;
	width: 70%;
}

.eucalyptusImageContainer h2 {
	position: absolute;
	left: 50%;
	bottom: 0px;
	transform: translate(-50%, 50%);

	padding: 0;
	margin: 0;
}

@keyframes pageAppearFromLeft {
	0% {
		opacity: 0;
		transform: translate(-25%, -10vw);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes pageAppearFromRight {
	0% {
		opacity: 0;
		transform: translate(25%, -10vw);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}

@keyframes pageDisappearToLeft {
	from {
		opacity: 1;
		transform: scale(1, 1);
	}
	to {
		opacity: 0;
		transform: scale(0.2, 1) skewY(5deg);
	}
}

@keyframes pageDisappearToRight {
	from {
		opacity: 1;
		transform: scale(1, 1);
	}
	to {
		opacity: 0;
		transform: scale(0.2, 1) skewY(-5deg);
	}
}